@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Epilogue&display=swap");

:root {
  --font--Epilogue: "Epilogue", sans-serif;
  background-color: #2653b0;
}
/*
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
body {
  font-family: var(--font--Epilogue);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
